<div class="stock-sentiment-container">
  <div *ngIf="stock" class="individual-stock">
    <div class="stock-header">
      <h3 class="title">{{ stock.profile.name }} ({{ stock.symbol }})</h3>
    </div>

    <div class="stock-content">
      <div *ngFor="let sentiment of stock.sentiments">
        <span class="content-container">
          <span>
            <p>{{ getMonthName(sentiment.year, sentiment.month) }}</p>
            <p>
              Change:
              <span>{{ sentiment.change > 0 ? '+' : '' }}</span>
              <span>{{ sentiment.change }}</span>
            </p>
            <p>MSPR: {{ sentiment.mspr }}</p>
          </span>

          <span class="content-arrow">
            <mat-icon
              class="arrow-icon"
              [ngClass]="{
                green: sentiment.change > 0,
                red: sentiment.change <= 0
              }"
              >{{
                sentiment.change > 0 ? 'arrow_upward' : 'arrow_downward'
              }}</mat-icon
            >
          </span>
        </span>
      </div>
    </div>

    <p *ngIf="stock.sentiments.length == 0">No sentiments.</p>
  </div>

  <button class="back-button" routerLink="">< Back to list of stocks</button>
</div>
